<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyq.blog.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.lyq.blog.entity.Log">
    <!--@mbg.generated-->
    <!--@Table bl_log-->
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="log_url" jdbcType="VARCHAR" property="logUrl" />
    <result column="log_params" jdbcType="VARCHAR" property="logParams" />
    <result column="log_status" jdbcType="INTEGER" property="logStatus" />
    <result column="log_message" jdbcType="LONGVARCHAR" property="logMessage" />
    <result column="log_method" jdbcType="VARCHAR" property="logMethod" />
    <result column="log_time" jdbcType="BIGINT" property="logTime" />
    <result column="log_result" jdbcType="LONGVARCHAR" property="logResult" />
    <result column="log_ip" jdbcType="VARCHAR" property="logIp" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    log_id, log_url, log_params, log_status, log_message, log_method, log_time, log_result, 
    log_ip, create_at, create_by
  </sql>
</mapper>